#body{
    background-color: rgb(173, 195, 236);
}
.fs{
    font-size: 3em;
}
img{
    width: 700px;
    height: 520px;
    border-radius: 30px;
    box-shadow:5px 7px 30px rgb(5, 22, 5);
    border: 2px solid green;
}